https://fonts.google.com/specimen/Roboto
https://fonts.google.com/specimen/Open+Sans
https://fonts.google.com/specimen/Raleway
https://fonts.google.com/specimen/Montserrat

h1 {
    font-size: clamp(1.8rem, calc(7vw, + 1rem), 5rem);
    font-family: Raleway;
    margin-left: 10em;
}
.imgform {
    margin-left:15em;
    padding: 2em;

}
.margin {
margin-right: 4em;
}
.aframebox {
    height: 200px;
    width: 400px;
    margin-left: 10em;
  }
.button {
color:black;
}
.button:hover {
color:white;
}
.more {
    margin-right: 15em;
}
.color1{
    color:yellow;
}
.color2 {
    color:blue;
}
.color3{
    color:white;
}
p {
     text-size:1.3em;
      font-family: Roboto;

}
.different {
    background: #9b2948;
}
.section1 {
    Background-color:#0096FF;
    padding: min(5em, 10%);
    margin: 1em;
    height: 10em;
    box-sizing: border-box;
    border-radius:1em;
}
.changeimg1 {
    height:auto;
    max-width:100%;
    object-fit:contain;
    background: green;
    width:500px;
}
.font {
    font-size: 1.5em;
    font-family:Open+Sans;
}
.section2 {
    height: auto;
    width: auto;
    color: yellow;
}
.changeimg {
    width:600px;
    margin-left:5em;
}
.img2{
    padding: 2rem;
    margin:2rem;
}
.img1 {
    padding:2rem;
    margin:2rem;
}
body{
    background: #FD5E53;
}
.imgcaro {
    object-fit:cover;
    object-fit:contain;
    height:50%;
    width:80%;
    aspect-ratio:1/1;
    justify-content: center;
    margin-left:4em;
}
.back {
    background:#6495ED;
    color:yellow;
}
h2 {
    font-size: 4em;
    font-family:Raleway;
    color:white;
}
.adjust {
    margin-right: 5em;
}
.back2 {
    color:white;
}
main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

section h2 {
  color: #333;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content img {
  max-width: 45%;
  height: auto;
  margin-right: 20px;
}

.content p {
  max-width: 50%;
  color: #555;
}
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .content img {
    max-width: 80%;
    margin-bottom: 20px;
  }

  .content p {
    max-width: 80%;
    text-align: center;
  }
}


