https://fonts.google.com/specimen/Roboto
https://fonts.google.com/specimen/Open+Sans

h1 {
    font-size: clamp(1.8rem, calc(7vw, + 1rem), 5rem)
    padding: 2rem;
    margin: 4rem;
}
p {
     text-size:1.3em;
      font-family: Roboto;
}
.section1 {
    Background-color:#0096FF;
    padding: min(5em, 10%);
    margin: 1em;
    height: 10em;
    box-sizing: border-box;
    border-radius:1em;
}
img {
    height:auto;
    max-width:100%;
    aspect-ratio:1/1;
    object-fit:contain;
    background: green;
    
}
.font {
    font-size: 1.5em;
    font-family:Open-sans;
}
.section2 {
    height: auto;
    width: auto;
    color:
}
